.counterTracker {

    display: flex;
    flex-direction: column;


    p {
        border-top: 2px solid black;
        font-size: 12px;
    }

    .counter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .counterNumber {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__buttons {
            width: 30px;
            height: 30px;
            cursor: pointer;


        }
    }
}

.counter__buttons:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}