.employeeCard {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    position: absolute;

    &:hover {
        opacity: 1;
    }

    &__name,
    &__role {

        align-items: baseline;
        text-align: center;
        position: relative;
        top: -30px
    }

    &__name {
        font-size: 20px;
    }

    &__role {

        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }



    span {
        font-size: 15px;

    }
}