.employeeCard {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    &__name,
    &__role {
        margin-top: 5px;

        align-items: baseline;
        text-align: center;

    }

    &__name {
        font-size: 20px;
    }

    &__role {
        font-size: 18px;
    }



    span {
        font-size: 15px;

    }
}