.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .counterNumber {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.counterButtonMinus,
.counterButtonPlus {
    width: 30px;
    height: 30px;
}