.EmployeeCardContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1085px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 925px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 675px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (max-width: 475px) {
    .EmployeeCardContainer {
        display: flex;
        flex-direction: column;
    }
}