.EmployeeCardContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
    margin-bottom: 50px;
}

.Employee__div {
    width: 240px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    opacity: 0.8;

    &__button {
        height: 25px;
        border-radius: 10px;
        position: unset;
        z-index: 1;
        cursor: pointer;


    }
}

.Employee__div__button:hover {
    background-color: darkgray;
    color: aliceblue;
}

@media screen and (max-width: 1400px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 870px) {
    .EmployeeCardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (max-width: 610px) {
    .EmployeeCardContainer {
        display: flex;
        flex-direction: column;
    }
}